[defaults]
inventory = inventory/hosts
private_key_file = ~/.ssh/ansible_key
host_key_checking = False
remote_user = ec2-user
<<<<<<< HEAD
timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
=======
>>>>>>> 3043089da642f59e7f016ba4a07a7d86c293f958
